body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 20px;
}
#joke {
  margin: 20px;
  font-size: 18px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #1976d2;
}
